<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.youngtvjobs.ycc.member.inquiryMapper">
  
  
  <sql id="selectFromInquiry">
  	select * from inq_board 
  </sql>
  
  <select id="inqSelectPage" parameterType="SearchPeriod" resultType="InquiryDto">
  	<include refid="selectFromInquiry" />
  	where true
  	<!-- 기간별 조회 검색 조건 추가 필요 -->
  	order by inq_date desc, inq_id desc
  	limit #{pageSize} offset #{offset}
  </select>

  
  </mapper>